/Prac_03/.idea/misc.xml
/Prac_04/.idea/misc.xml
/Prac_03/.idea/modules.xml
/Prac_04/.idea/modules.xml
/Prac_03/.idea/Prac_03.iml
/Prac_04/.idea/Prac_04.iml
/Prac_03/.idea/inspectionProfiles/profiles_settings.xml
/Prac_04/.idea/inspectionProfiles/profiles_settings.xml
/Prac_03/.idea/vcs.xml
/Prac_04/.idea/vcs.xml
/Prac_03/.idea/workspace.xml
/Prac_04/.idea/workspace.xml
/.idea/workspace.xml
